#login-page {
  position: relative;
  height: 100%;
  background-color: lightgrey;
  /* opacity: .5; */
}

#login-container {
  min-width: 300px;
  min-height: 200px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}



#login-container>input {
  font-size: 20px;
}