.center {
  margin: 0 auto;
}

#root {
  height: 100vh;
}

.square-button {
  font-size: 20px;
  color: white;
  background-color: #00aeee;
  padding: 10px 40px;
  font-weight: bolder;
  border: none;
  border-radius: 3px;
}

.round-button {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 50%;
  background-color: #00aeee;
}

.error {
  color: red;
}